{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": [
    "react",
    "react-hooks",
    "prettier"
  ],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/no-unused-prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["error", {"code": 100}],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-nested-ternary": "off",
    "no-return-assign": ["off"],
    "prettier/prettier": "error"
  }
}
